.terms-conditions-banner {
    padding: 3rem 0;
}
.terms {
    padding:5rem 0;
}
.terms p {
    color:#666;
    font-weight: 500;
}
.terms h2 {
    font-weight: 600;
    margin-bottom: 20px;
}
.terms ul {
    padding-left: 0;
    list-style: none;
}
.terms li{
    position:relative;
    padding-left: 20px;
    color:#666;
    font-weight: 500;
    margin-bottom: 8px;
}
.terms b {
    color:#000;
}
.terms li::after {
    content:" ";
    background: #EE7B7B;
    position: absolute;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 8px;
}
.terms a {
    color: #EE7B7B;
    text-decoration: none;
}