.wishlist-page {
    padding:5rem 0;
}
.wishlist-page .cartpdtImg {
    object-fit: cover;
}
@media (max-width: 992px) { 
    .wishlist-page .cart-table td {
        white-space: nowrap;
    }
}
@media (max-width: 767px) {  
    
    .wishlist-page .cartpdtImg {
        min-width: 100px;
    }
    .wishlist-page .container {
        padding-right: 0;
    }
}